<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.telerik.sendgrid" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>SendGrid</name>

  <preference name="API_USER" />
  <preference name="API_KEY" />

  <js-module name="sendgrid" src="www/SendGrid.js">
    <clobbers target="sendgrid" />
  </js-module>

  <platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="SendGrid">
        <param name="ios-package" value="CDVSendGrid" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVSendGrid.h"/>
    <source-file src="src/ios/CDVSendGrid.m" />

    <header-file src="src/ios/SendGrid.h"/>
    <source-file src="src/ios/SendGrid.m" />

    <header-file src="src/ios/SendGridEmail.h"/>
    <source-file src="src/ios/SendGridEmail.m" />

    <header-file src="src/ios/SMTPAPI/SMTPAPI.h" />
    <source-file src="src/ios/SMTPAPI/SMTPAPI.m"/>

    <header-file src="src/ios/AFNetworking/AFHTTPRequestOperation.h" />
    <source-file src="src/ios/AFNetworking/AFHTTPRequestOperation.m" />

    <header-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.h" />
    <source-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.m" />

    <header-file src="src/ios/AFNetworking/AFHTTPSessionManager.h" />
    <source-file src="src/ios/AFNetworking/AFHTTPSessionManager.m" />

    <header-file src="src/ios/AFNetworking/AFNetworking.h" />

    <header-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.h" />
    <source-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.m" />

    <header-file src="src/ios/AFNetworking/AFSecurityPolicy.h" />
    <source-file src="src/ios/AFNetworking/AFSecurityPolicy.m" />

    <header-file src="src/ios/AFNetworking/AFURLConnectionOperation.h" />
    <source-file src="src/ios/AFNetworking/AFURLConnectionOperation.m" />

    <header-file src="src/ios/AFNetworking/AFURLRequestSerialization.h" />
    <source-file src="src/ios/AFNetworking/AFURLRequestSerialization.m" />

    <header-file src="src/ios/AFNetworking/AFURLResponseSerialization.h" />
    <source-file src="src/ios/AFNetworking/AFURLResponseSerialization.m" />

    <header-file src="src/ios/AFNetworking/AFURLSessionManager.h" />
    <source-file src="src/ios/AFNetworking/AFURLSessionManager.m" />

    <framework src="Security.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="MobileCoreServices.framework" />

    MobileCoreServices.framework

    <config-file target="*-Info.plist" parent="ApiUser">
        <string>$API_USER</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApiKey">
        <string>$API_KEY</string>
    </config-file>

  </platform>

  	<platform name="android">

		<source-file src="src/android/res/values/sendgrid.xml" target-dir="res/values" />

        <config-file target="res/values/sendgrid.xml" parent="/*">
            <string name="api_user">$API_USER</string>
            <string name="api_key">$API_KEY</string>
        </config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SendGrid">
           		<param name="android-package" value="com.telerik.sendgrid.SendGridPlugin"/>
         	</feature>
     	</config-file>

        <source-file src="libs/android/sendgrid-java.jar" target-dir="libs"/>

     	<source-file src="src/android/SendGridPlugin.java"  target-dir="src/com/telerik/sendgrid" />

	</platform>

</plugin>
