<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.telerik.sendgrid" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  
  <name>SendGrid</name>

  <preference name="API_USER" />
  <preference name="API_KEY" />

  <js-module name="sendgrid" src="www/sendgrid.js">
    <clobbers target="sendgrid" />
  </js-module>

  <platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="SendGrid">
        <param name="ios-package" value="CDVSendGrid" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVSendGrid.h"/>
    <source-file src="src/ios/CDVSendGrid.m" />

    <config-file target="*-Info.plist" parent="ApiUser">
        <string>$API_USER</string>
    </config-file>

    <config-file target="*-Info.plist" parent="ApiKey">
        <string>$API_KEY</string>
    </config-file>

  </platform>
</plugin>
